/*------------------------------------------------
[Master sheet]

Project:
URL:
Version:
Creator:
Last changed:
Last Updated:
Primary use:
-------------------------------------------------*/

/*------------------------------------------------
Table of contents
1. Reset
2. Typography
3. Basic layout
4. Widgets
5. Media items
6. Forms
7. Media queries
8. IE specific styles
-------------------------------------------------*/

/*------------------------------------------------
Widgets
-------------------------------------------------*/

/*------------------------------------------------
Color reference sheet

Background:
Body text:
Headings:
:link
:hover,
:active,
:focus
-------------------------------------------------*/

/*------------------------------------------------
Typography reference sheet

Body copy:
Headers:
Input, textarea:
Buttons:

Notes:
-------------------------------------------------*/
